.photoListContainer {
  display: flex;
  flex-direction: column;
  /* set width breakpoints here*/
}

/* CSS Code for when the screen size is 480px Screen size */

@media screen and (min-width: 480px) {
  .photoListContainer {
    width: 450px;
  }
}
@media screen and (min-width: 900px) {
  .photoListContainer {
    width: 880px;
  }
}
