.photoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
  padding: 1vh 1vh 0 1vh;
}

.imageContainer {
  width: 100%;
  max-width: 1200px;
}

/*TODO: fix this sloppy code*/
.portraitPhotoContainer h1,
h2,
p {
  color: blanchedalmond;
}
.photoContainer h1,
h2,
p {
  color: blanchedalmond;
}

/* Text styling*/
.title {
  margin-top: 1vh;
  margin-bottom: 0;
}

.iNatData {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.iNatData p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}

.commonName {
  font-style: bold;
}

.latinName {
  font-style: italic;
}

/* Portrait */
@media screen and (min-width: 600px) {
  .portraitImageContainer {
    max-width: 550px;
    flex-grow: 1;
  }
}

.portraitPhotoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161616;
  padding: 1vh 1vh 0 1vh;
}

.portraitRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .portraitRowContainer {
    flex-direction: column;
    align-items: center;
  }
  .portraitTextContainer {
    padding-left: 0;
  }
}
.portraitTextContainer {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  justify-content: flex-start;
  flex-grow: 2;
  align-items: center;
  text-align: center;
}
.portraitTextContainer h1 {
  margin-top: 0;
}

.descriptionContent {
  width: 90%;
  font-size: max(1vw, 18px);
  text-align: justify;
}

.emptyDiv {
  flex-grow: 1;
}
